<form class="repo-inputs-form">
  <mat-form-field class="repo-textinput">
    <mat-label>Choose your gladiator</mat-label>
    <input matInput placeholder="username/repositoryname" [formControl]="input1" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option.full_name">
        {{option.full_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="repo-textinput">
    <mat-label>Choose your challenger</mat-label>
    <input matInput placeholder="username/repositoryname" [formControl]="input2">
  </mat-form-field>
  <br>
  <button class="mat-raised-button">Fight!</button>
</form>