:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-dialog-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-dialog-content {
  height: 400px;
}

