mat-toolbar {
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    color: #FFF;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

mat-toolbar-row {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}


a {
    color: white;
}