.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    color: #FFF;
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

mat-toolbar::after{
    color: white;
    box-shadow: 5px 10px #888888;
    content: " ";
    position: absolute;
    display: block;
    width: 25%;
    min-width: 200px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: #333;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.right-section {
    z-index: 3;
    position: relative;
    widows: 100%;
  }
.right-section::after {
    z-index: 3;
    position: relative;
    widows: 100%;
  }
